/****************************
*          DEFAULT          *
****************************/
html, body { height:100%!important; width:100%; position: relative;}
body{background: #efefef;}

/****************************
*           SKELE           *
****************************/
#section-main{width:100%;height:100%;position:fixed;left:-100%;top:0;padding-top:3em;background: url('../img/bg/bg4.jpg');background-position: top center;background-repeat: no-repeat;transition: all .4s cubic-bezier(1,.1,.4,.9);z-index:10000;overflow:hidden;
              transform: translate3d(0,0,0);
              -webkit-transform: translate3d(0,0,0);
              background-size: cover;
}
#section-main.visibile{left:0;}

#main-menu{position:fixed;top:-100%;left:0;width:100%;z-index:999;transition: all .4s cubic-bezier(1,.1,.4,.9);
           transform: translate3d(0,0,0);
           -webkit-transform: translate3d(0,0,0);
}
#main-menu.visibile{top:0%}
@media screen and (min-width: 0px) and (max-width: 320px) {
    #main-menu .fa{font-size:.8em;}
}

#single-view{background: #efefef; overflow: scroll; height:100%; padding-top:4.9em; z-index:998;position:fixed;right:-100%;width:100%;top:0;transition: all .4s cubic-bezier(1,.1,.4,.9);
             transform: translate3d(0,0,0);
             -webkit-transform: translate3d(0,0,0);
}
#single-view.visibile{right:0}

/****************************
*            HOME           *
****************************/
#home-page > div{margin-bottom:1.5em;}
.title{font-weight: 300;}
.home-titolo{margin: 1em auto 1em auto; color:#eec445;}
.home-titolo small{color:#f6f6f6;}
#home-page .btn-rounded{color:#fff;width:100%;padding:1.4em 1em;color:#00adef; border-radius: 100%;background: rgba(255,255,255,.8)}
#home-page .btn-rounded.btn-primary,#home-page .btn-rounded.btn-primary h5 {color:#00adef;}
#home-page .btn-rounded {}
#home-page .btn-rounded h5{ color:#00adef; font-size: .85em; font-weight: 700; text-align: center; margin:0;margin-top:10px;}
#home-page .btn-rounded .fa{font-size: 2em;}

@media screen and (min-width: 0px) and (max-width: 320px) {
    #home-page .btn-rounded{color:#fff;width:100%;padding:1em;color:#00adef; border-radius: 100%;background: rgba(255,255,255,.8)}
}

/****************************
*          TOP MENU         *
****************************/
.navbar-brand{border:none!important;box-shadow: none!important;background-color: transparent!important;border-radius: 0!important;}
.navbar-brand.focus{background: #fff!important; color:#2196f3!important}

/****************************
*           CONTENT         *
****************************/
.sectiontoshow{min-height: 100%; position: relative; width: 100%; background:#efefef; }
#content-page{}
#content-page .sectiontoshow{padding-top:7em;}
#content-page .titolo-sezione h3{margin:0; font-weight: 300}
#content-page .item-list .immgh{margin-bottom:2em;margin-top:2em;}
#content-page .single-go-element{color:#444;}
#home-button{margin-right:.3em; border-right:1px solid #fff;}

#single-gallery{padding-top:64px;width:100%; height: 100%;position:fixed; top:0; left: 100%;overflow: hidden;z-index: 10;transform: translate3d(0,0,0);
              -webkit-transform: translate3d(0,0,0);}
#single-gallery{height: 100%; width:100%;}
#single-gallery div{height:100%;width:100%;position: relative; background-size: cover; background-position: top center;background-repeat: no-repeat}
#single-gallery.visibile{left:0;transform: translate3d(0,0,0);
              -webkit-transform: translate3d(0,0,0);}

#loadingSection{padding-top:64px;width:100%; height: 100%;position:absolute; top:0; left: 0;overflow: hidden;z-index: -1}