<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<widget 
    id="com.monkeysign.pgnocerasarnodue" 
    xmlns= "http://www.w3.org/ns/widgets" 
    xmlns:gap   = "http://phonegap.com/ns/1.0" 
    version= "1.1">
    <name>PG Nocera Sarno</name>
    
    <description>
        Diocesi di Nocera Inferiore - Sarno
    </description>
    
    <icon src="img/logo.png" width="100" height="100" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/media" />
    
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.3" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.5.0" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.6" />
    <gap:plugin name="org.apache.cordova.media" spec="0.2.16" source="pgb" />
    
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="img/logo.png" width="180" height="180" />
        <!-- iPhone 6 Plus  -->
        <icon src="img/152x152.png" width="152" height="152" />
        <!-- iPhone 6 Plus  -->
        <icon src="img/120x120.png" width="120" height="120" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="img/logo.png" width="60" height="60" />
        <!-- iPad -->
        <icon src="img/76x76.png" width="76" height="76" />
        <!-- iPad -->
        <icon src="img/72x72.png" width="72" height="72" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="img/logo.png" width="40" height="40" />
        <!-- iPhone / iPod Touch -->
        <icon src="img/57x57.png" width="57" height="57" />
        <!-- iPad -->
        <icon src="img/logo.png" width="72" height="72" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="img/logo.png" width="29" height="29" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="img/logo.png" width="50" height="50" />
    </platform>
    <platform name="android"></platform>
    <platform name="windows"></platform>

    
    <preference name="orientation" value="portrait" />
    
    <access origin="*" />
    
</widget>
